@media (max-width: 900px){

    .hero-container{

        grid-template-columns:1fr;

        text-align:center;

    }


    .hero h1{

        font-size:2.8rem;

    }


    .hero-description{

        margin:auto;

    }


    .hero-buttons{

        justify-content:center;

    }


    .privacy-points{

        justify-content:center;

    }


    nav{

        display:none;

    }

}


@media (max-width:600px){

    .hero{

        padding:60px 0 40px;

    }


    .hero h1{

        font-size:2.2rem;

    }


    .hero-description{

        font-size:1rem;

    }


    .upload-card{

        min-height:280px;

    }


    .site-header .container{

        height:70px;

    }

}

/* Mobile Navigation Improvement */

@media(max-width:768px){

.site-header .container{

    flex-direction:column;

    gap:20px;

}


nav{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:18px;

}


nav a{

    font-size:14px;

}


.hero h1{

    font-size:2.2rem;

}


.hero-description{

    font-size:1rem;

}


.downloadReportBtn{

    width:100%;

}


}
